Unity/DeeperWorm/Library
Unity/DeeperWorm/Logs
Unity/DeeperWorm/Temp
Unity/DeeperWorm/UserSettings
Unity/DeeperWorm/.vsconfig
Unity/DeeperWorm/.vs
Unity/DeeperWorm/obj
Unity/DeeperWorm/DeeperWorm.sln
Unity/DeeperWorm/Assembly-CSharp.csproj
